.comp {
  margin-top: 32px;
  &-title {
    color: #031739;
    font-family: $font-roboto;
    font-size: 20px;
    font-weight: 700;
    padding: 9px 16px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 21px;
      background: #da251c;
      left: 0;
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    &-item {
      padding: 15px 30px;
    }

    &-link {
      color: #000;
      font-family: $foont-merriweather;
      font-size: 16px;
      font-weight: 900;
      line-height: 130%;

      // border-bottom: 2px solid #c8392b;
    }
  }
  &-lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 24px;
    gap: 6px 22px;
    &__item {
      color: #212529;
      font-family: $font-roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      position: relative;
      padding-left: 20px;
    }
    &__item::before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      width: 6px;
      height: 6px;
      border: none !important;
      border-radius: 50%;
      background: #c8392b;
    }
  }

  .links {
    &-lists {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      gap: 16px 30px !important;
    }
  }
}
