$font-roboto: "Roboto", sans-serif;
$foont-merriweather: "Merriweather", serif;

$color-titleHeader: #c8392b;
$color-titleHdTop: #ffffff;
$bgr-headerTop: rgba(0, 0, 0, 0.3);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0;
}

.container-child {
  max-width: 808px;
  margin: 0 auto;
  padding: 0;
}
