.items {
  margin-top: 32px;
  font-family: $font-roboto;
  &-main {
    display: flex;
    gap: 20px;
  }

  &-box {
    &__title {
      color: #031739;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      margin-left: 16px;
      position: relative;
    }
    &__title::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 21px;
      background: #da251c;
      left: -16px;
    }

    &__image {
      margin-top: 10px;
    }
    &__content {
      color: #031739;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      margin-top: 10px;
      padding-bottom: 20px;
      border-bottom: 0.5px solid rgba(119, 119, 119, 0.1);
    }
  }
}
